nav ul{
  list-style : none;
  padding : 0;
  margin:0;
  margin-top:5px;
  width:10px;
  display:flex;
  border-radius:20px;
}
nav ul li{
  margin-left: 7px;
  margin-right:7px;
  font-size: 40px;
  display:block;
  width:200px;
  background-color:#FFFFFF;
  border-radius:20px;
  animation:cold 10s infinite linear;
  border:4px solid black;
  box-shadow:0 0 20px 3px black;
  transition:teansform 0.7s linear;
}
nav ul li:hover{
  transform:scale(1.025);
}
nav ul li:first-child{
  border-radius:100%;
}
nav li a{
  display:block;
  color:#000000;
  padding:8px 16px;
  text-decoration: none;
  border-radius:20px;
  animation:cold 10s infinite linear;
  transition: transform 0.4s linear;
}
nav li a:hover{
  background-color:#FFFFFF;
  color:white;
  border-radius:20px;
  transform:scale(1.2);
}
body {
  font-family: tektur;
  background-image:url("bg2g.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  margin:0;
  padding:0;
}

.headingone{
  font-size:80px; 
  text-align: center; 
  font-weight: 7;
  color:black;
  text-decoration: none;
}

.logo{
  height:55px;
  width:55px;
  padding:10px;
  align-items: center;
  background-color:#000000;
  border-radius:10px;
  justify-content: center;
}
.logo img{
  height:60px;
  width:60px;
  border-radius: 100%;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  transform:scale(1.3);
  transition: transform 0.4s ease-in-out;
}
.logo img:hover{
  transform:scale(1.5) rotate(360deg);
}

@keyframes cold {
  0% {background-color:#FFFFFF; color:#000000;}
  25% {background-color:#7E7E7E; color:#606060;}
  50% {background-color: #000000; color:#FFFFFF;}
  75% {background-color:#7E7E7E; color:#606060;}
  110% {background-color:#FFFFFF; color:#000000;}

}