nav ul{
  list-style : none;
  padding : 0;
  margin:0;
  margin-top:5px;
  width:10px;
  display:flex;
  border-radius:20px;
}
nav ul li{
  opacity:0.5;
  margin-left: 7px;
  margin-right:7px;
  font-size: 25px;
  display:block;
  width:200px;
  height:50px;
  padding:0;
  background-color:#FFFFFF;
  border-radius:20px;
  border:4px solid black;
  box-shadow:0 0 20px 3px black;
  transition:teansform 0.7s linear;
}
nav ul li:first-child{
  opacity:1;
  height:75px;
}
nav ul li:hover{
  transform:scale(1.025);
  opacity:1;
  animation:cold 5s infinite linear;
}

nav li a{
  display:block;
  color:#000000;
  padding:8px 16px;
  text-decoration: none;
  border-radius:20px;
  transition: transform 0.4s linear;
}
nav li a:hover{
  background-color:#FFFFFF;
  color:white;
  border-radius:20px;
  transform:scale(1.2);
  animation:cold 5s infinite linear;
}
body {
  font-family: tektur;
  background-image:url("bg2g.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  background-attachment:scroll;
  min-height: 200vh;
  margin:0;
  padding:0;
}

@media (max-width: 768px) {
  body {
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }
}
.headingone{
  font-size:80px; 
  text-align: center; 
  font-weight: 7;
  color:black;
  text-decoration: none;
}

.headingone:hover{
  transform:scale(1.1);
}
.logo{
  height:55px;
  width:55px;
  padding:10px;
  align-items: center;
  background-color:#000000;
  border-radius:10px;
  justify-content: center;
}
.logo img{
  height:60px;
  width:60px;
  border-radius: 100%;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  transform:scale(1);
  transition: transform 0.4s ease-in-out;
}
.logo img:hover{
  transform:scale(1.5) rotate(360deg);
}

@keyframes cold {
  0% {background-color:#FFFFFF; color:#000000;}
  25% {background-color:#7E7E7E; color:#606060;}
  50% {background-color: #000000; color:#FFFFFF;}
  75% {background-color:#7E7E7E; color:#606060;}
  110% {background-color:#FFFFFF; color:#000000;}
}

.transbox{
  width:75%;
  border-radius:20px;
  height:300px;
  margin-top:0px;
  margin:0 auto;
  background-color:black;
  opacity:0.5;
  text-align: center;
  color:white;
  padding:20px;
  font-size: 30px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 0 20px 3px #000000;
}

.childdiv{
  margin:0;
  color:black;
  width:350px;
  height:130px;
  font-size:20px;
  background-color:#FFFFFF;
  opacity:1;
  border-radius:20px;
  
  
}
.sepratorP {
  align-items:center;
  font-size:30px;
  width:75%;
  margin:0 auto ;
  margin-top:20px;
  margin-bottom:20px;
}